form input {
  text-align: center;
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #aaa;
  width: 50%;
  height: 1em;
}

form button {
  height: 3em;
  padding: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  width: 30%;
}
